.error_block
	.error_block__img_w
		img(src="images/404.png", alt="404")
	.error_block__content
		h4.error_block__title Ой! Помилка 404...
		.error_block__descr Вибачте, але сторінка, яку ви шукаєте, не існує.
		.error_block__btn.more_btn Перейти на домашню сторінку

