-
	social = [
		'facebook',
		'viber',
		'telegram',
		'twitter'
	]

	telegram = [
		'telegram',
		'google'
	]

	tags = [
		'Зарплата',
		'Деньги',
		'Работа',
		'Вакансії'
	]
.article
	.article_caption
		h1.article_caption__title Найвищі зарплати: стало відомо, де та кому в Україні платять 110 тис. грн. на місяць
		.article_caption__row
			.article_caption__text
				.article_caption__author
					span Автор:
					a(href='/author.html') Леся Ловіцька
				time.article_caption__date 29 березня 2023, 12:01
			.article_caption__social
				each item in social
					.article_caption__social_item
						a.article_caption__social_link(href='#')
						.article_caption__social_icon
							+icon(item, 'icon--size_mod')

	article
		img.lazy(src="images/news/news_10.jpg", alt="news image")
		p Повномасштабна війна обвалила ринок праці в Україні, який зараз намагається відновитись. Вакансій небагато, а прибутки більшості місцевих жителів упали. Проте й у такій ситуації роботодавці готові платити працівникам високі зарплати.
		p Весною в країні стало значно більше пропозицій щодо працевлаштування порівняно з аналогічним періодом минулого року. Максимальний приріст вакансій спостерігається у Київській, Дніпропетровській, Львівській, Івано-Франківській та Одеській областях. Є пожвавлення й у прифронтових регіонах – Херсонській та Миколаївській.
		p Найбільше вакансій з'явилося у сфері готельно-ресторанного бізнесу та туризму. На другому місці опинилася сфера обслуговування. Третє зайняли будівництво та архітектура.
		.article_telegram
			.article_telegram__title Підпишіться на Today.ua, аби бути в курсі останніх новин:
			.article_telegram__social
				each item in telegram
					.article_telegram__social_item
						a.article_telegram__social_link(href='#')
						.article_telegram__social_icon
							+icon(item, 'icon--size_mod')
		h3 Де в Україні платять максимальні зарплати
		p У березні середня заробітна плата в Україні складала 16 тис. грн. Значне підвищення доходів спостерігається в Одеській та Одеській областях (500 гривень). Приріст – у сферах страхування, медицини та фармацевтики, готельно-ресторанного бізнесу, секретаріату та безпеки.
		.article_quote
			p "Дату і нестандартну кількість серій обрано свідомо, тому що чортова дюжина. Проект недорогий – і почати знімати ми змогли тільки завдяки тому, що всі, хто працює в ньому, роблять це майже безкоштовно, так би мовити, по дружбі. Якби все це сталося у мирний час, то бюджет кожної серії коштував би нам тисяч 50 доларів. А так виходить тисяч десять гривень."
			.article_quote__author
				span — Олексій Вертинський
				span український актор
			img(src="images/quote.png", alt="quote")
		p Найвищі зарплати платять у Києві (у середньому 18,5 тис. грн) та Львові (16,5 тис. грн). У столиці максимальний дохід пропонують програмістам – 110 тис. грн, а у західному обласному центрі – керівникам відділів продажу (50 тис. грн).
		img.lazy(src="images/news/news_11.png", alt="news")
		p У трьох українських містах середня заробітна платня складає 16 тис. грн. В Одесі найвищий дохід у керівників відділів продажів – 40 тис. грн, у Дніпрі у військовослужбовців – 47 тис. грн, а в Ужгороді – у токарів та регіональних менеджерів – 32,5 тис. грн.
		p Найнижчі зарплати у Сумах та у Кривому Розі – у середньому 12,5 тис. грн. У Сумах найбільше заробляють торгові представники – 21,5 тис. грн, а у Кривому Розі водії-міжнародники – 49,5 тис. грн. У Запоріжжі також невисокі заробітні плати, роботодавці готові платити в середньому 12,8 тис. грн.
		.article_popular_news
			h3 Популярні новини
			p
				a(href="#") У Міноборони розповіли, де відбудеться наступна важлива битва за Донбас
			p
				a(href="#") Скільки платять українським біженцям у Польщі: озвучено зарплати вчителів, менеджерів та продавців
			p
				a(href="#") Загальна мобілізація: які речі взяти із собою на війну
			p
				a(href="#") У Києві з'явились дешеві 1-кімнатні квартири: яке житло можна купити за 17 тисяч доларів
		h3 В Україні планують підвищити мінімальну зарплату
		p У Верховній Раді запропонували підвищити мінімальну заробітну плату тричі протягом 2023 року – з 1 квітня, 1 липня та 1 жовтня. Відповідний законопроект перебуває на ознайомленні у профільному комітеті та має пройти два читання у залі парламенту. Якщо його схвалять, також буде потрібен підпис президента України Володимира Зеленського.
		.article_tags.article_tags--indent_mod
			span Tеги
			.article_tags__list
				each item in tags
					a(href="#")!= item
		.article_tags.article_tags--color_mod
			span Джерело
			.article_tags__list
					a(href="#") 24tv.ua
