include ../templates/mixins/m-author
-
	list = [
		{
			name: 'Євген Шведов',
			prof: 'Головний редактор, керівник проекту',
			img: '1'
		},
		{
			name: 'Єлизавета Лобанова',
			prof: 'Випускаючий редактор',
			img: '2'
		},
		{
			name: 'Лілія Шевченко',
			prof: 'Редактор стрічки новин',
			img: '3'
		},
		{
			name: 'Любов Марченко',
			prof: 'Редактор стрічки новин',
			img: '4'
		},
		{
			name: 'Наталія Міхеєнко',
			prof: 'Редактор стрічки новин',
			img: '5'
		},
		{
			name: 'Оксана Житнюк',
			prof: 'Редактор стрічки новин',
			img: '6'
		},
		{
			name: 'Вікторія Юрчук',
			prof: 'Редактор стрічки новин, розділ “Шоу-біз”',
			img: '7'
		},
		{
			name: 'Віталій Максимов',
			prof: 'Редактор розділу “Авто”',
			img: '8'
		},
		{
			name: 'Кристина Ломенко',
			prof: 'Корреспондент',
			img: '9'
		},
	]
.author_list
	.author_list__in
		+main_title({
			title: 'Редакція видання',
			mod: 'main_title--center_mod',
		})
		.author_list__list
			each item in list
				+author(item)
