include ../templates/mixins/m-main-title
include ../templates/mixins/m-news-item

-
	news = [
		{
			title: '“У мене немає маленького акуратненького носика“: Світлана Лобода розповіла про пластику обличчя',
			date: '29 березня 2023, 12:01'
		},
		{
			title: 'ПриватБанк почав виплачувати пенсіонерам по 20 тисяч гривень: хто може отримати гроші',
			date: '29 березня 2023, 12:01',
		},
		{
			title: 'Верховний суд пояснив, коли автостоянка не несе відповідальності за пошкоджений автомобіль',
			date: '29 березня 2023, 12:01',
		}
	]

.main_news
	+main_title({
		title: 'Головне',
		link: '#',
		link_title: 'Всі новини',
	})
	.main_news__wrap
		each item in news
			+news_item(item)
