include ../templates/mixins/m-news-item

-
	search_list = [
		{
			img: 'news_3.jpg',
			title: 'В Україні наприкінці березня знизилися ціни на гречку, борошно та олію',
			date: '29 березня 2023, 12:01',
		},
		{
			img: 'news_4.jpg',
			title: 'РФ завдала одного з наймасштабніших ударів по Україні з початку війни: понад 80 ракет та атак дронами',
			date: '29 березня 2023, 12:01',
		},
		{
			img: 'news_5.jpg',
			title: 'У Міноборони розповіли, де відбудеться наступна важлива битва за Донбас',
			date: '29 березня 2023, 12:01',
		},
		{
			img: 'news_7.jpg',
			title: "Еліна Світоліна у сукні з декольте до пупка з'явилася на балу у Монако",
			date: '29 березня 2023, 12:01',
		},
		{
			img: 'news_8.jpg',
			title: '“Хочу старіти природно“: зірка “Відчайдушних домогосподарок“ здивувала зовнішнім виглядом',
			date: '29 березня 2023, 12:01',
		},
		{
			img: 'news_9.jpg',
			title: 'Сирна паска “трикутник“ без випічки: як приготувати смачне частування на свято',
			date: '29 березня 2023, 12:01',
		},
		{
			img: 'news_3.jpg',
			title: 'В Україні наприкінці березня знизилися ціни на гречку, борошно та олію',
			date: '29 березня 2023, 12:01',
		},
		{
			img: 'news_4.jpg',
			title: 'РФ завдала одного з наймасштабніших ударів по Україні з початку війни: понад 80 ракет та атак дронами',
			date: '29 березня 2023, 12:01',
		},
	]

.search
	.search__wrap
		.search__result
			span порошенко
			span - результати пошуку
		.search__form_w
			form.search_form
				.search_form__wrap
					input.search_form__input.input_search(type='text' placeholder='Пошук по сайту')
					button.search_form__btn.button_search(type='submit') Шукати
				.search_form__descr Якщо ви не задоволені результатом, будь ласка пошукайте ще раз
		.search__list
			each item in search_list
				+news_item(item)
		button.more_btn.search__btn_more(type='button') Завантажити ще
		include ./pagination


