@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@include font("Oswald", "Oswald-Regular", "400", "normal");
@include font("Oswald", "Oswald-Light", "300", "light");
@include font("Oswald", "Oswald-Bold", "700", "bold");

@include font("OpenSans", "OpenSans-Regular", "400", "normal");
