//---------------------------------------------fonts
$font_1: 'GraphikLCG', sans-serif;

$font_size_base: 1.6rem;
//---------------------------------------------fonts###

//---------------------------------------------colors
$white: #fff;
$black: #000;

$color_text_base: $black;
$color_link_base: #4aa3df;

$body_bg: $white;

$text: #222222;
$dark: #111111;
$gray: #cecece;
$gray_2: #999999;
$gray_3: #373737;
$blue: #0c7dca;
$blue_2: #2185c7;
$orange: #f5a13a;
//---------------------------------------------colors###

//---------------------------------------------layout

$page_width: 117rem;

//---------------------------------------------layout###

//---------------------------------------------global values

$gl_radius: 0.5rem;

//---------------------------------------------global values###

//---------------------------------------------media points

// $point_0: 1100px;
$point_1: 1100px;
$point_2: 1024px;
$point_3: 1023px;
$point_4: 768px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;

//---------------------------------------------media points

//---------------------------------------------forms

$input_height: 4.4rem;
$input_offset: 0 1.6rem;
$input_font_size: 1.2rem;
$input_border_color: $black;
$input_border_color_active: $black;
$input_placeholder_color: #7e7e7e;
$input_text_color: $black;
$input_radius: 0;

//---------------------------------------------forms###
