.article {
}

.article_caption {
	&:not(:last-child) {
		margin-bottom: 1rem;
	}
}

.article_caption__title {
	padding-bottom: 1rem;

	line-height: 1.19;

	border-bottom: 1px dotted #ccc;

	&:not(:last-child) {
		margin-bottom: 1.1rem;
	}

	@include bp($point_1, min) {
		font-size: 3.4rem;
	}

	@include bp($point_1 - 1, $point_4) {
		font-size: 2.4rem;
	}

	@include bp($point_4 - 1) {
		font-size: 2.1rem;
		text-align: center;
	}
}

.article_caption__row {
	display: flex;
	align-items: center;

	@include bp($point_4 - 1) {
		flex-wrap: wrap;
	}
}

.article_caption__text {
	display: flex;
	width: 100%;

	@include bp($point_4 - 1) {
		margin-bottom: 1rem;
	}
}

.article_caption__author {
	span {
		padding-right: .5rem;
	}

	a {
		color: $text;
	}

	@include bp($point_1, min) {
		font-size: 1.4rem;
	}

	@include bp($point_1 - 1) {
		font-size: 1.2rem;
	}

	@include bp($point_4 - 1) {
		width: 50%;
		text-align: right;
	}
}

.article_caption__date {
	position: relative;


	@include bp($point_1, min) {
		padding-left: 4rem;

		font-size: 1.4rem;
	}

	@include bp($point_1 - 1) {
		font-size: 1.2rem;
		padding-left: 1.4rem;
	}

	@include bp($point_4 - 1) {
		width: 50%;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;

		width: 1px;
		height: 100%;

		background-color: #ccc;

		@include bp($point_4, min) {
			left: 2rem;
		}

		@include bp($point_4 - 1) {
			left: .7rem;
		}
	}
}

.article_caption__social {
	display: flex;

	@include bp($point_4, min) {
		margin-left: auto;
	}

	@include bp($point_4 - 1) {
		margin: 0 auto;
	}
}

.article_caption__social_item {
	position: relative;

	display: flex;

	width: 3rem;
	height: 3rem;

	border: 1px solid #ccc;
	border-radius: 50%;

	transition: border .3s ease-in-out;

	&:not(:last-child) {
		margin-right: .8rem;
	}

	&:hover {
		border: 1px solid $orange;
	}

	&:nth-child(1) {
		color: #124477;
	}

	&:nth-child(2) {
		color: #904e9e;
	}

	&:nth-child(3) {
		color: #0364b0;
	}

	&:nth-child(4) {
		color: #00a6e4;
	}
}

.article_caption__social_link {
	position: absolute;

	display: block;
	width: 100%;
	height: 100%;
}

.article_caption__social_icon {
	margin: auto;
	width: 1.7rem;
	height: 1.7rem;

	color: currentColor;
}

article {
	&:not(:first-child) {
		@include bp($point_4 - 1) {
			margin-top: 3rem;
		}
	}
	&>img {
		display: block;
		width: 100%;
		height: 100%;
		max-height: 36.1rem;

		object-fit: cover;

		&:not(:first-child) {
			margin-top: 2.2rem;
		}
		&:not(:last-child) {
			margin-bottom: 2.6rem;

			@include bp($point_4, min) {
				margin-bottom: 2.6rem;
			}

			@include bp($point_4 - 1) {
				margin-bottom: 1.3rem;
			}
		}
	}

	&>p {
		font-size: 1.6rem;
		line-height: 1.625;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	h3 {
		font-size: 1.8rem;

		&:not(:last-child) {
			@include bp($point_4, min) {
				margin-bottom: 1.5rem;
			}

			@include bp($point_4 - 1) {
				margin-bottom: 2.5rem;
			}
		}
	}
}

.article_telegram {
	display: flex;
	align-self: center;

	background-color: #f6f6f6;

	&:not(:first-child) {
		margin-top: 2rem;
	}

	&:not(:last-child) {
		margin-bottom: 3.1rem;
	}

	@include bp($point_1, min) {
		padding: 1.7rem 6.7rem 1.7rem 5.5rem;
	}

	@include bp($point_1 - 1) {
		text-align: center;
		flex-direction: column;
		padding: 2.7rem 1.5rem;
	}
}

.article_telegram__social {
	display: flex;

	@include bp($point_1, min) {
		margin-left: auto;
	}

	@include bp($point_1 - 1) {
		margin: 0 auto;
	}
}

.article_telegram__title {
	height: max-content;
	margin: auto 0;

	font-weight: 600;
	font-size: 1.8rem;

	@include bp($point_1, min) {
		margin-right: 1.5rem;
		line-height: 1;
	}

	@include bp($point_1 - 1) {
		margin-bottom: 1.5rem;
	}
}

.article_telegram__social_item {
	position: relative;

	display: flex;

	width: 4rem;
	height: 4rem;

	border-radius: 50%;

	background-color: $blue_3;

	color: $white;

	transition: background-color .3s ease-in-out;

	&:not(:last-child) {
		margin-right: 1rem;
	}

	&:hover {
		background-color: $blue_2;
	}
}

.article_telegram__social_link {
	position: absolute;
	width: 100%;
	height: 100%;
}

.article_telegram__social_icon {
	margin: auto;
	width: 2.5rem;
	height: 2.5rem;
}

.article_quote {
	position: relative;

	background-color: #f6f6f6;

	overflow: hidden;

	@include bp($point_1, min) {
		padding: 2.3rem 3.1rem 3.7rem;
	}

	@include bp($point_1 - 1) {
		padding: 2.7rem 1.1rem 2.6rem;
	}

	&:not(:last-child) {
		margin-bottom: 2.2rem;
	}
	& p {
		font-style: italic;
		line-height: 1.625;

		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}

	img {
		position: absolute;
		bottom: -1rem;
		right: 3rem;

		z-index: 10;
		width: 100%;
		height: max-content;
		max-width: 13.5rem;

		@include bp($point_1, min) {
			bottom: -1rem;
			right: 3rem;

			max-width: 13.5rem;
		}

		@include bp($point_1 - 1) {
	    bottom: -0.6rem;
  	  right: 1.2rem;

	    max-width: 11rem;
		}
	}
}

.article_quote__author {
	position: relative;
	z-index: 15;

	span {
		display: block;
		text-align: right;

		&:first-child {
			font-size: 1.6rem;
			font-weight: 600;

			margin-bottom: .9rem;
		}

		&:last-child {
			font-size: 1.4rem;
		}
	}
}

.article_popular_news {
	background-color: #f6f6f6;

	@include bp($point_1, min) {
		padding: 2.8rem 2rem 3.5rem 2.9rem;
	}

	@include bp($point_1 - 1) {
		padding: 2.8rem 1rem;
	}

	&:not(:first-child) {
		margin-top: 2rem;
	}

	&:not(:last-child) {
		@include bp($point_1, min) {
			margin-bottom: 5.6rem;
		}

		@include bp($point_1 - 1) {
			margin-bottom: 3rem;
		}
	}

	h3 {
		font-size: 1.8rem;

		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}
	}

	p {
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	a {
		font-size: 1.6rem;
		line-height: 1.625;
		color: $text;

		border-bottom: 1px solid #a3a3a3;

		transition: opacity .3s ease-in-out;

		&:hover {
			opacity: .6;
		}
	}
}

.article_tags {
	display: flex;

	&.article_tags--indent_mod {
		margin-top: 3rem;
	}

	&.article_tags--color_mod {
		span {
			background-color: $orange;
		}
	}

	&:not(:last-child) {
		margin-bottom: 1rem;
	}

	span, a {
		text-transform: uppercase;
		padding: 1rem 1.5rem .7rem ;
		line-height: .7;
	}

	span {
		height: max-content;
		color: $white;

		background-color: $blue_3;
	}

	a {
		margin-bottom: .8rem;
		font-size: 1.4rem;

		color: $text;

		background-color: #f6f6f6;

		transition: background-color .3s ease-in-out, color .3s ease-in-out;

		&:not(:last-child) {
			margin-right: .8rem;
		}

		&:first-child {
			margin-left: .8rem;
		}

		&:hover {
			color: $white;
			background-color: $gray_4;
		}
	}
}

.article_tags__list {
	display: flex;
	flex-wrap: wrap;
}
