aside {

	@include bp($point_1, min) {
		max-width: 36.5rem;
	}

	@include bp($point_1 - 1, $point_4) {
		max-width: 30rem;
	}

	@include bp($point_4, min) {
		width: 33.33%;
	}
}

.aside__list {
	margin-top: 3rem;

	@include bp($point_4, min) {
		margin-bottom: 5.1rem;
	}
	@include bp($point_4 - 1) {
		margin-bottom: 3.3rem;
	}
}

.aside_item {
	width: 100%;

	&:not(:last-child) {
		@include bp($point_4, min) {
			margin-bottom: 3.1rem;
		}

		@include bp($point_4 - 1) {
			margin-bottom: 2.1rem;
		}
	}
}

.aside_item__img_w {
	display: block;
	width: 100%;
	height: 100%;

	&:not(:last-child) {
		@include bp($point_4, min) {
			margin-bottom: 2.7rem;
		}

		@include bp($point_4 - 1) {
			margin-bottom: 1.7rem;
		}
	}

	&:hover {
		& ~ .aside_item__content h3 span {
			border-bottom: 1px solid currentColor;
		}
	}
}

.aside_item__img {
	@include cover_img;
}

.aside_item__content {
	display: flex;

	&:hover {
		span {
			border-bottom: 1px solid currentColor;
		}
	}
}

.aside_item__time {
	margin-top: .3rem;
	margin-right: 1.6rem;

	font-size: 1.4rem;

	color: $gray_4;
}

.aside_item__title {
	display: inline;

	font-size: 1.6rem;
	line-height: 1.36;
	font-weight: 400;
	color: $text;

	&.aside_item__title--bold_mod {
		font-weight: 600;
	}

	span {
		border-bottom: 1px solid transparent;

		transition: border .15s ease-in-out;
	}
}

.aside_date {
	position: relative;

	@include bp($point_4, min) {
		margin: 4.2rem 0 3.3rem;
	}

	@include bp($point_4 - 1) {
		margin: 3.2rem 0 2.3rem;
	}
}

.aside_date__title {
	position: relative;
	z-index: 10;

	padding-right: 2rem;
	width: max-content;

	font-size: 2rem;
	font-weight: 400;

	background-color: $white;
}

.aside_date__line {
	position: absolute;
	top: calc(50% - .5px);
	right: 0;

	width: 100%;
	height: 1px;

	background-color: #e5e5e5;
}

.aside_telegram {
	@include bp($point_4, min) {
		margin: 3.1rem 0 3rem;
	}

	@include bp($point_4 - 1) {
		margin: 2.1rem 0 2.1rem;
	}

	&:hover {
		& .aside_telegram__icon_w {
			transform: translate(.5rem, -.5rem);
		}

		& .aside_telegram__title {
			opacity: .7;
		}
	}
}

.aside_telegram__content {
	display: flex;
}

.aside_telegram__icon_w {
	width: 3.5rem;
	height: 3.5rem;
	margin-right: 1.4rem;

	color: $blue_3;

	transition: transform .25s ease-in-out;
}

.aside_telegram__title {
	color: $text;

	transition: opacity .25s ease-in-out;

	span {
		display: block;
		line-height: 1.35;
	}
}

.aside__more_btn {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 5rem;

	font-size: 1.6rem;

	color: $white;

	background-color: $blue_3;

	transition: background-color .3s ease-in-out;

	cursor: pointer;

	&:hover {
		background-color: $orange;
	}
}
