.grid_news {
	&:not(:last-child) {
		margin-bottom: 4.7rem;

		@include bp($point_4, min) {
			margin-bottom: 4.7rem;
		}

		@include bp($point_4 - 1) {
			margin-bottom: 3.6rem;
		}
	}
}

.grid_news__list {
	margin-top: 2.9rem;

	@include bp($point_4, min) {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -1.5rem -4.6rem 0;
	}
}
