.news_item {
	display: flex;
	align-items: stretch;

	&.news_item--size_mod {
		position: relative;
		height: 100vw;

		@include bp($point_1, min) {
			max-height: 36.1rem;
		}

		@include bp($point_1 - 1) {
			max-height: 30rem;
		}
	}

	.others_news &,
	.search & {
		&:not(:last-child) {
			@include bp($point_4, min) {
				margin-bottom: 3rem;
				padding-bottom: 3rem;

				border-bottom: 1px dotted #ccc;
			}
		}

		@include bp($point_4 - 1) {
			flex-direction: column;
		}
	}

	.search & {
		@include bp($point_4 - 1) {
			margin-bottom: 2rem;
		}
	}

	.others_news & {
		&:nth-child(n + 3) {
			@include bp($point_4 - 1) {
				display: none;
			}
		}

		&:not(:nth-child(n + 2)) {
			@include bp($point_4 - 1) {
				margin-bottom: 2rem;
			}
		}
	}

	.grid_news & {
		flex-direction: column;

		@include bp($point_4, min) {
			width: 50%;
			padding: 0 1.5rem 4.6rem 0;
		}

		@include bp($point_4 - 1) {
			width: 100%;

			&:nth-child(n + 3) {
				display: none;
			}

			&:not(:nth-child(n + 2)) {
				margin-bottom: 2.6rem;
			}
		}

		.news_wrapper__main--width_mod & {
			max-width: 100%;

			@include bp($point_1, min) {
				width: 33.33%;
			}
		}
	}
}

.news_item__img_w {
	width: 100%;
	height: 100%;

	@include bp($point_4, min) {
		max-width: 36.5rem;
	}

	.news_item--size_mod & {
		position: absolute;
		z-index: 10;

		max-width: 100%;
	}

	.grid_news & {
		height: 100vw;

		@include bp($point_4, min) {
			max-height: 17.7rem;
		}

		@include bp($point_4 - 1) {
			max-height: 14.6rem;
		}

		&:not(:last-child) {
			@include bp($point_4, min) {
				margin-bottom: 2.5rem;
			}

			@include bp($point_4 - 1) {
				margin-bottom: 1.7rem;
			}
		}
	}

	.news_wrapper__main--width_mod & {
		max-width: 100%;
	}

	&:hover {
		& ~ .news_item__content h2 {
			border-bottom: 1px solid currentColor;
		}
	}
}

.news_item__img {
	@include cover_img;
}

.news_item__content {
	display: flex;
	flex-direction: column;

	.others_news &,
	.search & {
		max-width: 38rem;
		width: 100%;

		@include bp($point_4, min) {
			padding: 1.5rem 0rem .7rem 1.4rem;
		}

		@include bp($point_4 - 1) {
			padding: 1.5rem 1.4rem .7rem 0;
		}
	}

	.news_item--size_mod & {
		position: relative;
		z-index: 15;

		padding: 1.5rem 3rem 4rem;
		margin-top: auto;
    height: max-content;
	}
}

.news_item__title_w {
	&:not(:last-child) {
		.news_item--size_mod & {
			margin-bottom: 4rem;
		}

		.grid_news & {
			@include bp($point_4, min) {
				margin-bottom: 2rem;
			}
		}

		@include bp($point_4, min) {
			margin-bottom: 1rem;
		}

		@include bp($point_4 - 1) {
			margin-bottom: 1.2rem;
		}
	}

	&:hover {
		h2 {
			border-bottom: 1px solid currentColor;
		}
	}
}

.news_item__title {
	display: inline;

	font-weight: 600;
	line-height: 1.25;

	color:$text;

	border-bottom: 1px solid transparent;
	transition: border .15s ease-in-out;

	.news_item--size_mod & {
		color: $white;
	}

	@include bp($point_1, min) {
		font-size: 2.4rem;
	}

	@include bp($point_1 - 1) {
		font-size: 2.1rem;
	}
}

.news_item__date_w {
	margin-top: auto;
}

.news_item__date {
	font-size: 1.4rem;

	color: $gray_4;

	.news_item--size_mod & {
		color: $white;
	}
}
