.others_news {
	width: 100%;

	&:not(:last-child) {
		@include bp($point_4, min) {
			margin-bottom: 4.9rem;
		}

		@include bp($point_4 - 1) {
			margin-bottom: 2.9rem;
		}
	}
}

.others_news__list {
	margin-top: 3rem;
}
