extends layout/layout

block vars
	include ./templates/mixins/m-aside
	include ./templates/mixins/m-main-news

	- array = {body_class:'', title_inner:'Article'}

block content_block
	.news_wrap_dev
		+breadcrumbs([
			{
				title: 'Головна',
				icon: true
			},
			{
				title: 'Бізнес',
				icon: true
			},
			{
				title: 'Найвищі зарплати: стало відомо, де та кому в Україні платять 110 тис. грн. на місяць',
			},
		])
		.news_wrapper.news_wrapper--mob_no_sidebar
			.news_wrapper__main
				include ./blocks/article-block
			.news_wrapper__sidebar
				+main_news({
					main_title: {
						title: 'Головне',
					},
					news: [
						{
							title: '“У мене немає маленького акуратненького носика“: Світлана Лобода розповіла про пластику обличчя',
							date: '29 березня 2023, 12:01',
						},
						{
							title: 'ПриватБанк почав виплачувати пенсіонерам по 20 тисяч гривень: хто може отримати гроші',
							date: '29 березня 2023, 12:01',
						},
						{
							title: 'Верховний суд пояснив, коли автостоянка не несе відповідальності за пошкоджений автомобіль',
							date: '29 березня 2023, 12:01',
						},
					]
				})
				+aside({
					main_title: {
						title: 'Стрічка новин'
					},
					list_news: [
						{
							img: 'news_1.jpg',
							title:'Скільки платять українським біженцям у Польщі: озвучено зарплати вчителів, менеджерів та продавців',
							mod_title: true,
							time: '12:01'
						},
						{
							title:'В Україні наприкінці березня знизилися ціни на гречку, борошно та олію',
							time: '12:01'
						},
						{
							title:'ПриватБанк почав виплачувати пенсіонерам по 20 тисяч гривень: хто може отримати гроші',
							time: '12:01'
						},
						{
							date: '05 березня'
						},
						{
							title: "У Києві з'явились дешеві 1-кімнатні квартири: яке житло можна купити за 17 тисяч доларів",
							time: '12:01'
						},
						{
							telegram: true
						},
						{
							title:'РФ завдала одного з наймасштабніших ударів по Україні з початку війни: понад 80 ракет та атак дронами',
							time: '12:01'
						},
						{
							title:'У Міноборони розповіли, де відбудеться наступна важлива битва за Донбас',
							mod_title: true,
							time: '12:01'
						},
						{
							title:'Як вижити під час бомбардування чи артобстрілу: правила безпеки під час війни',
							time: '12:01'
						},
					]
				})
