extends layout/layout

block vars
	include ./templates/mixins/m-aside
	include ./templates/mixins/m-others-news
	include ./templates/mixins/m-grid-news
	include ./templates/mixins/m-main-news
	- array = {body_class:'', title_inner:'Home'}

block content_block
	.news_wrap_dev
		+main_news({
			main_title: {
				title: 'Головне',
				link: '#',
				link_title: 'Всі новини',
			},
			news: [
				{
					title: '“У мене немає маленького акуратненького носика“: Світлана Лобода розповіла про пластику обличчя',
					date: '29 березня 2023, 12:01'
				},
				{
					title: 'ПриватБанк почав виплачувати пенсіонерам по 20 тисяч гривень: хто може отримати гроші',
					date: '29 березня 2023, 12:01',
				},
				{
					title: 'Верховний суд пояснив, коли автостоянка не несе відповідальності за пошкоджений автомобіль',
					date: '29 березня 2023, 12:01',
				}
			]
		})
		.news_wrapper
			.news_wrapper__sidebar
				+aside({
					main_title: {
						title: 'Стрічка новин'
					},
					list_news: [
						{
							img: 'news_1.jpg',
							title:'Скільки платять українським біженцям у Польщі: озвучено зарплати вчителів, менеджерів та продавців',
							mod_title: true,
							time: '12:01'
						},
						{
							title:'В Україні наприкінці березня знизилися ціни на гречку, борошно та олію',
							time: '12:01'
						},
						{
							title:'ПриватБанк почав виплачувати пенсіонерам по 20 тисяч гривень: хто може отримати гроші',
							time: '12:01'
						},
						{
							date: '05 березня'
						},
						{
							title: "У Києві з'явились дешеві 1-кімнатні квартири: яке житло можна купити за 17 тисяч доларів",
							time: '12:01'
						},
						{
							telegram: true
						},
						{
							title:'РФ завдала одного з наймасштабніших ударів по Україні з початку війни: понад 80 ракет та атак дронами',
							time: '12:01'
						},
						{
							title:'У Міноборони розповіли, де відбудеться наступна важлива битва за Донбас',
							mod_title: true,
							time: '12:01'
						},
						{
							title:'Як вижити під час бомбардування чи артобстрілу: правила безпеки під час війни',
							time: '12:01'
						},
						{
							img: 'news_2.jpg',
							title:'Загальна мобілізація: які речі взяти із собою на війну',
							mod_title: true,
							time: '12:01'
						},
						{
							title: "У Києві з'явились дешеві 1-кімнатні квартири: яке житло можна купити за 17 тисяч доларів",
							time: '12:01'
						},
						{
							title:'РФ завдала одного з наймасштабніших ударів по Україні з початку війни: понад 80 ракет та атак дронами',
							time: '12:01'
						},
						{
							date: '04 березня'
						},
						{
							title: "У Києві з'явились дешеві 1-кімнатні квартири: яке житло можна купити за 17 тисяч доларів",
							time: '12:01'
						},
						{
							title:'РФ завдала одного з наймасштабніших ударів по Україні з початку війни: понад 80 ракет та атак дронами',
							time: '12:01'
						},
						{
							title:'У Міноборони розповіли, де відбудеться наступна важлива битва за Донбас',
							mod_title: true,
							time: '12:01'
						},
						{
							title:'Як вижити під час бомбардування чи артобстрілу: правила безпеки під час війни',
							time: '12:01'
						},
						{
							title:'Загальна мобілізація: які речі взяти із собою на війну',
							mod_title: true,
							time: '12:01'
						},
						{
							title: "У Києві з'явились дешеві 1-кімнатні квартири: яке житло можна купити за 17 тисяч доларів",
							mod_title: true,
							time: '12:01'
						},
						{
							title:'РФ завдала одного з наймасштабніших ударів по Україні з початку війни: понад 80 ракет та атак дронами',
							time: '12:01'
						},
					]
				})
			.news_wrapper__main
				+others_news({
					main_title: {
						title: 'Бізнес'
					},
					other_news: [
						{
							img: 'news_3.jpg',
							title: 'В Україні наприкінці березня знизилися ціни на гречку, борошно та олію',
							date: '29 березня 2023, 12:01',
						},
						{
							img: 'news_4.jpg',
							title: 'РФ завдала одного з наймасштабніших ударів по Україні з початку війни: понад 80 ракет та атак дронами',
							date: '29 березня 2023, 12:01',
						},
						{
							img: 'news_5.jpg',
							title: 'У Міноборони розповіли, де відбудеться наступна важлива битва за Донбас',
							date: '29 березня 2023, 12:01',
						},
						{
							img: 'news_6.jpg',
							title: 'Як вижити під час бомбардування чи артобстрілу: правила безпеки під час війни',
							date: '29 березня 2023, 12:01',
							mod: 'news_item--size_mod'
						},
					]
				})
				+others_news({
					main_title: {
						title: 'Політика'
					},
					other_news: [
						{
							img: 'news_7.jpg',
							title: "Еліна Світоліна у сукні з декольте до пупка з'явилася на балу у Монако",
							date: '29 березня 2023, 12:01',
						},
						{
							img: 'news_8.jpg',
							title: '“Хочу старіти природно“: зірка “Відчайдушних домогосподарок“ здивувала зовнішнім виглядом',
							date: '29 березня 2023, 12:01',
						},
						{
							img: 'news_9.jpg',
							title: 'Сирна паска “трикутник“ без випічки: як приготувати смачне частування на свято',
							date: '29 березня 2023, 12:01',
						},
						{
							img: 'news_10.jpg',
							title: 'Топ-10 автомобілів з найбільш економною витратою палива',
							date: '29 березня 2023, 12:01',
							mod: 'news_item--size_mod'
						},
					]
				})
				+grid_news({
					main_title: {
						title: 'Шоу-бізнес'
					},
					other_news: [
						{
							img: 'news_3.jpg',
							title: 'В Україні наприкінці березня знизилися ціни на гречку, борошно та олію',
							date: '29 березня 2023, 12:01',
						},
						{
							img: 'news_4.jpg',
							title: 'РФ завдала одного з наймасштабніших ударів по Україні з початку війни: понад 80 ракет та атак дронами',
							date: '29 березня 2023, 12:01',
						},
						{
							img: 'news_5.jpg',
							title: 'У Міноборони розповіли, де відбудеться наступна важлива битва за Донбас',
							date: '29 березня 2023, 12:01',
						},
						{
							img: 'news_6.jpg',
							title: 'Як вижити під час бомбардування чи артобстрілу: правила безпеки під час війни',
							date: '29 березня 2023, 12:01',
						},
					]
				})
				+grid_news({
					main_title: {
						title: 'Авто'
					},
					other_news: [
						{
							img: 'news_7.jpg',
							title: "Еліна Світоліна у сукні з декольте до пупка з'явилася на балу у Монако",
							date: '29 березня 2023, 12:01',
						},
						{
							img: 'news_8.jpg',
							title: '“Хочу старіти природно“: зірка “Відчайдушних домогосподарок“ здивувала зовнішнім виглядом',
							date: '29 березня 2023, 12:01',
						},
						{
							img: 'news_9.jpg',
							title: 'Сирна паска “трикутник“ без випічки: як приготувати смачне частування на свято',
							date: '29 березня 2023, 12:01',
						},
						{
							img: 'news_10.jpg',
							title: 'Топ-10 автомобілів з найбільш економною витратою палива',
							date: '29 березня 2023, 12:01',
						},
					]
				})
