-
	list = [
		'slider_text_1.jpg',
		'slider_text_2.jpg',
		'slider_text_3.jpg',
		'slider_text_4.jpg',
		'slider_text_5.jpg',
	]

section.section.slider_text
	.section_in
		.slider_text__wrap
			.slider_text__content
				.slider_text__subtitle.section_subtitle Сорта технической конопли
				.slider_text__descr.section_descr Лаборатория занимается селекцией собственных сортов технической конопли -  солеустойчивых, хорошо приспособленных к условиям Узбекистана, обладающих высокой урожайностью семян и волокна.
				.slider_text__pagination
					.swiper-button-prev
						+circle_btn({
							mod: 'circle_btn--prev_mod',
							btn_prev: true,
						})
					.swiper-button-next
						+circle_btn({})
			.slider_text__slider.swiper.js-slider-text
				.slider_text__wrapper.swiper-wrapper
					each item in list
						.slider_text__slide.swiper-slide
							+picture({
								class: 'slider_text__img_w',
								class_img: 'slider_text__img',
								img: `images/slider-text/${item}`,
								alt: 'certificate img'
							})

