.header {
	position: fixed;
	top: 0;
	left: 0;

	height: var(--height-header);
	width: 100%;

	background-color: $white;

	will-change: transform;

	z-index: 101;
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 9;
		box-shadow: 0px 1px 9px 0px rgba(54, 54, 54, 0.13);
	}
}

//------------------------------------------------------------layout###

.header_in {
	position: relative;
	z-index: 10;

	display: flex;
	align-items: center;
	max-width: $page_width;
	margin: 0 auto;
	padding: 2rem 1.5rem;

	background-color: $white;
}

.header_menu {
	padding-top: var(--header-top-indent);
	display: flex;
	align-items: center;
	width: 100%;
}

.header__logo_w {
	width: 17.4rem;
	height: 5.3rem;
	margin-right: 9.6rem;
	flex-shrink: 0;

	transition: opacity .3s ease;

	&:hover {
		opacity: .7;
	}
}

.header__logo {
	@include cover_img;
}

.header_nav {
	max-width: 60.4rem;
	width: 100%;
	flex-shrink: 0;

	@include bp($point_1 - 1) {
		display: none;
	}
}

.header_nav__list {
	display: flex;
}

.header_nav__item {
	position: relative;

	color: $text;

	&:not(:last-child) {
		margin-right: 7.6%;
	}

	&::before {
		content: '';
		position: absolute;

		width: 100%;
		height: 3px;

		bottom: -2.4rem;
		left: 0;

		background-color: $blue;
		transform: scaleX(0);
		transition: transform .3s ease-in-out;
	}

	&:hover {
		&::before {
			transform: scaleX(1);
		}
	}
}

.header_nav__link {
	display: block;
	height: 100%;
	padding: 1rem 0;

	color: currentColor;
}

.header_lang {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 3.3rem;
	height: 3.1rem;
	background-color: $text;

	margin-left: auto;
	margin-right: 1.6rem;

	border-radius: .4rem;

	transition: background-color .3s ease;

	&:hover {
		background-color: $blue_2;
	}
}

.header_lang__list {
	width: 100%;
	text-align: center;
}

.header_lang__item {
	font-size: 1.3rem;

	color: $white;

	&:not(:first-child) {
		display: none;
	}
}

.header_lang__link {
	display: block;
	width: 100%;
	color: currentColor;
}

.header_search {
	cursor: pointer;

	&:hover {
		& .header_search__icon_w {
			color: $blue_2;
		}
	}
}

.header_search__icon_w {
	width: 2.2rem;
	height: 2.2rem;

	svg {
		transition: color .3s ease;
	}
}

.header_burger {
	position: relative;

	width: 3.3rem;
	height: 2.3rem;
	margin-left: 1.6rem;

	cursor: pointer;

	&.header_burger--open_menu {
		span {
			opacity: 0;
		}

		&::before {
			transform: rotate(-45deg);
		}

		&::after {
			transform: translateX(2px) rotate(-45deg);
		}
	}

	@include bp($point_1, min) {
		display: none;
	}

	span {
		position: absolute;
		top: calc(50% - 1.5px);

		display: block;
		width: 100%;
		height: 3px;

		background-color: $text;
		border-radius: 10px;

		transition: background-color .3s ease-in-out, opacity .3s ease-in-out;
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 3px;

		background-color: $text;

		border-radius: 10px;

		transition: background-color .3s ease-in-out, transform .3s ease-in-out;

	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}

	&:hover {
		span {
			background-color: $orange;
		}

		&::before,
		&::after {
			background-color: $orange;
		}
	}
}

.header_dropdown {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;

	width: 100%;
	height: 100%;

	background-color: $white;

	transform: translateY(var(--height-header));
	transition: transform .3s ease-in-out;
}

.header_dropdown_in {
	max-width: $page_width;
	margin: 0 auto;
}
.header_dropdown__search {
	padding: 1.9rem 0;
	max-width: 87.8rem;
	margin: 0 auto;

	opacity: 0;
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

.menu_search {
	display: flex;
}

.menu_search__input {
	width: 100%;
	padding: 0 1.8rem;

	border: none;
	background-color: transparent;

	font-size: 1.8rem;
	border-bottom: 1px solid $gray;

	&::placeholder {
		font-style: italic;
	}
}

.menu_search__btn {
	width: 100%;
	max-width: 15.9rem;
	height: 4rem;

  font-size: 1.6rem;
	font-weight: 600;
	letter-spacing: .01em;
  line-height: 1.375;
	text-transform: uppercase;

	color: $white;

	background-color: $blue_2;
}


.header_dropdown__nav {
	padding: 1.7rem 1.5rem;

	@include bp($point_1, min) {
		display: none;
	}
}

.menu_nav {
	display: flex;

	& .header_lang {
		display: none;
	}
}

.menu_nav__nav {
	max-width: 85.5rem;
	width: 100%;
	margin-right: 2rem;
}

.menu_nav__list {
	display: flex;
	align-items: center;
	height: 100%;
	padding-right: 8.6%;

	border-right: 1px solid $gray;
}

.menu_nav__item {

	font-size: 1.8rem;
	font-weight: 600;

	color: $text;

	&:not(:last-child) {
		margin-right: auto;
	}
}

.menu_nav__link {
	color: currentColor;
}

.menu_nav__social {
	flex-shrink: 0;
	margin-left: auto;
}

.menu_nav__social_list {
	display: flex;

}

.menu_nav__social_item {
	&:not(:last-child) {
		margin-right: 1.5rem;
	}
}

.menu_nav__social_link {
	display: flex;
	width: 4rem;
	height: 4rem;
	background-color: $blue_2;
	border-radius: 50%;
}

.menu_nav__social_icon {
	margin: auto;
	height: 2rem;
	color: $white;
}
