@import './helpers/helpers-all';

@import './base/base';

@import './layout/layout';

//plugins

// @import '../../node_modules/swiper/swiper.scss';

// components

@import './components/news.scss';
@import './components/main-news.scss';
@import './components/news-item.scss';
@import './components/aside.scss';
@import './components/other-news.scss';
@import './components/grid-news.scss';
@import './components/search.scss';
